.navbar{
    background-color: rgb(3, 3, 33);
    width:100%;
    max-width: 1024px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.ncontainer{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    padding:10px;
    margin-left:15px;
    margin-right: 7px;
    font-size:20px;
    
}
.ncontainer>div{
    cursor:pointer;
}
.nuser{
    display:flex;
    gap:10px;
    font-size:18px;
    
}
.nuserspan:active{
    color:rgb(204, 30, 30);
    font-size: 18px;
}
.nlink{
    list-style: none;
    color:white;
    text-decoration:none;
}
.nadd{
    background-color: rgb(7, 4, 135);
}